
@model UserAuthentication.Models.UserData

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


@{
    UserAuthentication.Models.UserData user = ViewBag.user;
}
<h1>Full Name: @user.Full_Name</h1>
<h1>User Name: @user.UserName</h1>
<h1>Email ID: @user.EmailId</h1>
<h1>Phone: @user.Phone</h1>
<hr />
<a class="btn btn-info" href="~/Users/Logout" role="button">Logout</a>
<a class="btn btn-warning" href="~/Users/Update" role="button">Update</a>
