
@{
    ViewBag.Title = "Index";
}



<h2>Welcome to CDAC Users Login</h2>

<a class="btn btn-primary" href="~/Users/Login" role="button">Login</a>
<a class="btn btn-primary" href="~/Users/Register" role="button">Register</a>

